.card{
    border: 2px solid black;
    margin: 3px;
    border-radius: 15px;
    background-color: beige;

}

.car-stateon{
    background-color: rgb(206, 206, 42);


}

.car-state{
    background-color: rgb(206, 206, 42);


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

.button{
    border: "1px solid red";
    border-radius: "5px";
    width: "20%";
    margin-left: auto;
    margin-right: auto;
      
}